# Global configuration
global:
  namespace: thingsboard-test
  imageRegistry: ""
  imagePullSecrets: []
  tbLicenseSecret: "biGeBHrEO4LaxCqPQa9imyFL"

imagePullSecrets:
  cassandra: harbor-cassandra-pull-secret
  kafka: harbor-kafka-pull-secret
  redis: harbor-redis-pull-secret
  zookeeper: harbor-zookeeper-pull-secret

# ThingsBoard configuration
thingsboard:
  jsexecutor:
    enabled: true
    replicas: 5
    image:
      registry: docker.io/thingsboard/tb-pe-js-executor
      tag: "4.0.1PE"
      pullPolicy: Always
    env:
      REMOTE_JS_EVAL_REQUEST_TOPIC: js_eval.requests
      TB_KAFKA_SERVERS: thingsboard-kafka:9092
      TB_QUEUE_KAFKA_REPLICATION_FACTOR: "1"
      LOGGER_LEVEL: info
      LOG_FOLDER: logs
      LOGGER_FILENAME: tb-js-executor-%DATE%.log
      DOCKER_MODE: "true"
      SCRIPT_BODY_TRACE_FREQUENCY: "1000"
  image:
    registry: docker.io/thingsboard/tb-pe-node
    tag: "4.0.1PE"
    pullPolicy: IfNotPresent
  
  # Core service configuration
  node:
    enabled: true
    replicas: 1
    resources:
      limits:
        cpu: "12"
        memory: 25Gi
      requests:
        cpu: "6"
        memory: 20Gi
    
    # DTLS Configuration
    dtls:
      enabled: true
      certificatesConfigMap: coap-pem-configmap
      
    # Environment variables
    env:
      TB_LICENSE_VALIDATION_ENABLED: "false"
      SWAGGER_ENABLED: "true"
      TB_KAFKA_SERVERS: "kafka:9092"
      
  # Transport services
  transports:
    coap:
      enabled: true
      replicas: 4
      image:
        registry: docker.io/thingsboard/tb-pe-coap-transport
        tag: "4.0.1PE"
      port: 5684
      dtlsEnabled: true
      service:
        type: LoadBalancer
        annotations:
          service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      resources:
        limits:
          cpu: 410m
          memory: 8Gi
        requests:
          cpu: 410m
          memory: 8Gi
      env:
        TB_KAFKA_SERVERS: "kafka:9092"
        COAP_TIMEOUT: "60000"
        TB_QUEUE_REQUEST_TIMEOUT: "120000"
    
    http:
      enabled: true
      replicaCount: 1
      image:
        registry: docker.io/thingsboard/tb-pe-http-transport
        tag: "4.0.1PE"
      port: 8080
      service:
        type: LoadBalancer
        annotations:
          service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      resources:
        limits:
          cpu: 500m
          memory: 4Gi
        requests:
          cpu: 500m
          memory: 4Gi

  # Web UI
  webui:
    enabled: true
    replicaCount: 1
    image:
      repository: docker.io/thingsboard/tb-pe-web-ui
      tag: "4.0.1PE"
    serviceType: web
    bindAddress: "0.0.0.0"
    bindPort: 8084
    enableProxy: false
    tbHost: "thingsboard-node"
    tbPort: 8080
    loggerLevel: info
    logFolder: logs
    loggerFilename: tb-web-ui-%DATE%.log
    dockerMode: true
    swaggerEnabled: true
    resources:
      limits:
        memory: 2Gi
      requests:
        memory: 1Gi

  # JS Executor
  jsExecutor:
    enabled: true
    replicas: 1
    image:
      registry: docker.io/thingsboard/tb-pe-js-executor
      tag: "4.0.1PE"
    resources:
      limits:
        cpu: 1000m
        memory: 4Gi
      requests:
        cpu: 1000m
        memory: 4Gi

# Database configuration - AWS Aurora PostgreSQL
database:
  url: "jdbc:postgresql://thingsboard-db-qa-k8s.cdhob2fjfmcq.af-south-1.rds.amazonaws.com:5432/thingsboard"
  username: "postgres"
  password: "VF8sjO1yR68W1LxPzwoh"

# Cassandra configuration (for time-series data)
cassandra:
  enabled: true
  username: "cassandra"
  password: "cassandra"
  serviceName: "cassandra"
  image:
    registry: harbor.qa.stagezero.co.za/cassandra/cassandra
    tag: "5.0.6"
  cluster:
    name: cassandra
    datacenter: dc1
    rack: rack1
    seeds: "cassandra-0.cassandra"
  resources:
    limits:
      memory: 2Gi
    requests:
      memory: 1Gi
  storage:
    size: 100Gi
    storageClass: ""

# Message queue configuration
kafka:
  enabled: true
  serviceName: "kafka"
  image:
    registry: harbor.qa.stagezero.co.za/kafka/kafka
    tag: "4.1.1"
  replicas: 1
  resources:
    limits:
      cpu: 2000m
      memory: 8Gi
    requests:
      cpu: 1000m
      memory: 4Gi
  env:
    KAFKA_PROCESS_ROLES: "broker,controller"
  storage:
    size: 50Gi
    storageClass: ""
  zookeeper:
    servers: "zookeeper:2181"

# Cache configuration

redis:
  masterServiceName: "thingsboard-redis-master"
  headlessServiceName: "thingsboard-redis-headless"
  architecture: standalone
  auth:
    password: setplease
  master:
    kind: Deployment
    persistence:
      enabled: false
    disableCommands:
      - FLUSHALL
  replica:
    replicaCount: 0
    persistence:
      enabled: false
  image:
    repository: harbor.qa.stagezero.co.za/redis/redis
    tag: 8.4-rc1-alpine
    size: 20Gi
    storageClass: ""
  port: 6379

# Zookeeper configuration
zookeeper:
  enabled: true
  serviceName: "zookeeper"
  image:
    registry: harbor.qa.stagezero.co.za/zookeeper/zookeeper
    tag: "3.9.4-jre-17"
  replicas: 1
  resources:
    limits:
      cpu: 1000m
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: ""

# Security
security:
  certificates:
    enabled: true
    dtls:
      serverCert: |
        -----BEGIN CERTIFICATE-----
        MIIBdTCCAZsCFENbCvDkHJ//r9nuIDynYYlYpAzzMAoGCCqGSM49BAMCMH0xCzAJ
        BgNVBAYTAlpBMRUwEwYDVQQIDAxXZXN0ZXJuIENhcGUxEjAQBgNVBAcMCUNhcGUg
        VG93bjESMBAGA1UECgwJU3RhZ2VaZXJvMQ0wCwYDVQQLDARDb0FQMSAwHgYDVQQD
        DBdjb2FwLnFhLnN0YWdlemVyby5jby56YTAeFw0yNDExMTIwNjA0MjBaFw0yNTEx
        MTIwNjA0MjBaMH0xCzAJBgNVBAYTAlpBMRUwEwYDVQQIDAxXZXN0ZXJuIENhcGUx
        EjAQBgNVBAcMCUNhcGUgVG93bjESMBAGA1UECgwJU3RhZ2VaZXJvMQ0wCwYDVQQL
        DARDb0FQMSAwHgYDVQQDDBdjb2FwLnFhLnN0YWdlemVyby5jby56YTBZMBMGByqG
        SM49AgEGCCqGSM49AwEHA0IABMdgAHc1Y4LoOPZ5x0eiypYx2veZaKpQKq7djXt6
        rZOUD7u35YMTkDtJ/7Obq+TxQR5c52Elj65u+zW0yrANU80wCgYIKoZIzj0EAwID
        SAAwRQIhAO3qH7xjVewGUmqpJCQdLOv4XVPqiBtlJ69hzP/BXOz9AiAxJG1wPKkw
        P5cjGDZCEOJZ1cX3myRk6SdB3Qwjm7MxHA==
        -----END CERTIFICATE-----
      serverKey: |
        -----BEGIN EC PARAMETERS-----
        BggqhkjOPQMBBw==
        -----END EC PARAMETERS-----
        -----BEGIN EC PRIVATE KEY-----
        MHcCAQEEINj2OLQ2wOSSELhxVe8M+/28oA6pGa/nBGoERspT8dU1oAoGCCqGSM49
        AwEHoUQDQgAEx2AAdzVjgug49nnHR6LKljHa95loqlAqrt2Ne3qtk5QPu7flgxOQ
        O0n/s5ur5PFBHlznYSWPrm77NbTKsA1TzQ==
        -----END EC PRIVATE KEY-----

# Ingress configuration
ingress:
  host: "thingsboard.local"
  className: "nginx"

# Horizontal Pod Autoscaling
autoscaling:
  enabled: true
  coap:
    minReplicas: 4
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  http:
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80

