apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: {{ include "thingsboard-pe.namespace" . }}
  labels:
    {{- include "thingsboard-pe.labels" . | nindent 4 }}
    app: zookeeper
spec:
  clusterIP: None
  ports:
    - port: 2181
      targetPort: 2181
      name: client
    - port: 2888
      targetPort: 2888
      name: server
    - port: 3888
      targetPort: 3888
      name: leader-election
  selector:
    app: zookeeper