apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ include "thingsboard-pe.namespace" . }}
  labels:
    {{- include "thingsboard-pe.labels" . | nindent 4 }}
    app: kafka
spec:
  clusterIP: None
  ports:
    - port: 9092
      targetPort: 9092
      name: kafka
  selector:
    app: kafka