apiVersion: v1
kind: ConfigMap
metadata:
  name: thingsboard-redis-configuration
  namespace: {{ .Values.global.namespace }}
data:
  master.conf: |-
    # No custom master config
  redis.conf: |-
    # No custom redis config
  replica.conf: |-
    # No custom replica config
