apiVersion: v1
kind: ConfigMap
metadata:
  name: thingsboard-redis-configuration
  namespace: {{ .Values.global.namespace }}
  labels:
    app: redis
data:
  master.conf: |-
    dir /data
    # User-supplied master configuration:
    rename-command FLUSHALL ""
    # End of master configuration
  redis.conf: |-
    # User-supplied common configuration:
    # Enable AOF https://redis.io/topics/persistence#append-only-file
    appendonly yes
    # Disable RDB persistence, AOF persistence already enabled.
    save ""
    auto-aof-rewrite-percentage 100
    auto-aof-rewrite-min-size 32mb
    maxmemory 8gb
    maxmemory-policy allkeys-lru
    tcp-keepalive 60
    # Disable authentication for compatibility
    protected-mode no
    # End of common configuration
  replica.conf: |-
    dir /data
    slave-read-only yes
    # User-supplied replica configuration:
    rename-command FLUSHDB ""
    rename-command FLUSHALL ""
    # End of replica configuration
