name: Helm Chart Package & Push to Harbor

on:
  push:
    branches:
      - main
    paths:
      - 'thingsboard-pe/**'
      - '.github/workflows/helm-push.yaml'

jobs:
  helm-push:
    runs-on: ubuntu-latest
    env:
      HARBOR_URL: harbor.qa.stagezero.co.za
      HARBOR_PROJECT: thingsboard-pe
      CHART_NAME: thingsboard-pe
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Get chart version
        id: chartver
        run: |
          VERSION=$(grep 'version:' thingsboard-pe/Chart.yaml | awk '{print $2}')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to Harbor
        run: echo "${{ secrets.HARBOR_PASSWORD }}" | helm registry login ${{ env.HARBOR_URL }} --username ${{ secrets.HARBOR_USERNAME }} --password-stdin

      - name: Package Helm chart
        run: |
          helm package thingsboard-pe --version ${{ steps.chartver.outputs.version }}

      - name: Push chart to Harbor
        run: |
          helm push thingsboard-pe-${{ steps.chartver.outputs.version }}.tgz oci://${{ env.HARBOR_URL }}/${{ env.HARBOR_PROJECT }}/
